* {
    box-sizing: border-box
}

body{
    padding: 0px;
    margin: 0px;
    font-family: 'Lora', serif;
    background-image:url('../img/background.jpeg');
    background-size: cover;
    background-position: center;
    font-family: Arial;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
  
.wrap{
    max-width: 350px;
    border-radius: 20px;
    margin: auto;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    padding: 40px;
    color: #fff;
    margin-top:100px;
    
  }
  
header{
    background: #008489;
    height: 66px;
}

header * {
    color: white;
}

header .logo{
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .logo-text{
    margin: 9px;
    font-family: 'Candal', serif;
}

header .logo-text span{
    color: #05f7ff;
}

header ul{
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header ul li{
    float: left;
    position: relative;
}

header ul li ul{
    position: absolute;
    top: 66px;
    right: 0px;
    width: 180px;
     display: none;
}

header ul li:hover ul{
    display: block;
}

header ul li:hover ul{
    display: block; 
}

header ul li ul li{
    width: 100%;
}

header ul li ul li a{
   padding: 10px;
   background: white;
   color: #444;
} 


header ul li ul li a:hover{
    background: #d5d6d6;
}

header ul li a{
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}


header ul li a:hover {
    background: #006669;
    transition: 0.5s;
}

header .menu-toggle{
    display: none;
 }


  h2{
    text-align: center;
  }
  
  td{
    color: #527881;
  }
  
  
  input {
    font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
    font-size: 14px;
  }
  
  input[type=text], input[type=username] {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0, 0, 0, 0.10);
    outline: none;
    border: none;
    border-bottom: 1px dotted #fff;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
  }
  
  input[type=text], input[type=email] {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0, 0, 0, 0.10);
    outline: none;
    border: none;
    border-bottom: 1px dotted #fff;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
    }
  
  input[type=text], input[type=password] {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0, 0, 0, 0.10);
    outline: none;
    border: none;
    border-bottom: 1px dotted #fff;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    border-color: #7dc9e2;
    outline-color: #dceefc;
    outline-offset: 0;
  }
  
  input[type=submit] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0px;
    margin-top: 30px;
    outline: none;
    border: none;
    background: #60adde;
    opacity: 0.7;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
  }
  
  input[type = submit]:hover{
    background: #003366;
    opacity: 0.7;
  }
  
  
  #error_msg{
      width: 50%;  
      margin: 5px auto; 
      height: 30px; 
      border: 1px solid #FF0000; 
      background: #FFB9B8; 
      color: #FF0000;
      text-align: center;
      padding-top: 10px;
  }
  
  
  